<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- 扫描过期的accesstoken，将缓存清理 -->
	<bean id="accessTokenTask" class="com.fjx.wechat.mysdk.thread.AccessTokenTask" />
	<task:scheduled-tasks>
		<!--<task:scheduled ref="accessTokenTask" method="doTask" cron="0 * * * * ?"/>-->
		<task:scheduled ref="accessTokenTask" method="doTask" fixed-delay="3600000"/>
	</task:scheduled-tasks>

</beans>

