<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 后台管理拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin"/>
            <mvc:mapping path="/admin/**"/>
            <bean class="com.fengjx.ttwx.modules.wechat.controler.admin.interceptor.AdminInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 分页请求拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/pageList"/>
            <mvc:mapping path="/**/pageList/**"/>
            <bean class="com.fengjx.ttwx.modules.common.controler.interceptor.PageInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 拦截匹配微信请求接口
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/wechat/api"/>
            <bean class="com.fengjx.wechat.base.action.interceptor.WechatInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
 -->

</beans>
