<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


    <!-- 加载配置属性文件 -->
    <import resource="conf/spring/spring-config.xml"/>

    <!-- 开启注解 -->
    <!-- 使用Annotation自动注册Bean，解决事物失效问题：在主容器中不扫描@Controller注解，在SpringMvc中只扫描@Controller注解。  -->
    <context:component-scan base-package="com.fengjx"><!-- base-package 如果多个，用“,”分隔 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <import resource="conf/spring/spring-db.xml"/>
    <import resource="conf/spring/spring-beans.xml"/>
    <import resource="conf/spring/spring-wechat.xml"/>
    <import resource="conf/spring/spring-aop.xml"/>
    <import resource="conf/spring/spring-email.xml"/>
    <import resource="conf/spring/spring-scheduled.xml"/>
    <import resource="conf/spring/mvc/spring-mvc-shiro.xml"/>

</beans>