<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       ">

    <bean init-method="init" id="plugins" class="com.fengjx.ttwx.common.plugin.Plugins">
        <property name="pluginList">
            <list>
                <ref bean="tableMappingPlugin"/>
                <ref bean="ehCachePlugin"/>
                <ref bean="dictPlugin"/>
                <ref bean="freemarkerPlugin"/>
                <ref bean="emailPlugin"/>
            </list>
        </property>
    </bean>

    <cache:annotation-driven/>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>
    <!-- EhCache library setup -->
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <bean id="ehCachePlugin" class="com.fengjx.ttwx.common.plugin.cache.ehcache.EhCachePlugin">
        <property name="cacheManager" ref="ehcache"/>
    </bean>

    <!-- 数据字典-->
    <bean id="dictService" class="com.fengjx.ttwx.modules.sys.service.DictServiceImpl">
    </bean>
    <bean id="dictPlugin" class="com.fengjx.ttwx.common.plugin.dict.DictPlugin">
        <property name="service" ref="dictService"/>
    </bean>

    <bean id="serviceEngine" class="com.fengjx.ttwx.modules.wechat.process.ServiceEngineImpl"/>

    <!-- 微信->商户 请求服务处理工厂 -->
    <bean id="serviceExecutorFactory" class="com.fengjx.ttwx.modules.wechat.process.executor.ServiceExecutorFactory">
        <property name="executorList">
            <list>
                <ref bean="defaultExecutor"/>
                <ref bean="eventSubscribeExecutor"/>
                <ref bean="ImageExecutor"/>
                <ref bean="locationExecutor"/>
                <ref bean="memuClickExecutor"/>
                <ref bean="textExecutor"/>
                <ref bean="validExecutor"/>
            </list>
        </property>
    </bean>

    <bean id="defaultExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.DefaultExecutor"/>
    <bean id="eventSubscribeExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.EventSubscribeExecutor"/>
    <bean id="ImageExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.ImageExecutor"/>
    <bean id="locationExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.LocationExecutor"/>
    <bean id="memuClickExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.MemuClickExecutor"/>
    <bean id="textExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.TextExecutor"/>
    <bean id="validExecutor" class="com.fengjx.ttwx.modules.wechat.process.executor.ValidExecutor"/>

    <!--
    &lt;!&ndash; 本地扩展接口start &ndash;&gt;
    <bean id="myExtService" class="com.fjx.wechat.extension.service.MyExtService"></bean>
    <bean id="myTextExtService" class="com.fjx.wechat.extension.service.MyTextExtService"></bean>

    &lt;!&ndash; 本地扩展接口end &ndash;&gt;-->

    <!-- 验证码组件 -->
    <bean id="kaptchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">no</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <prop key="kaptcha.image.width">250</prop>
                        <prop key="kaptcha.textproducer.font.size">90</prop>
                        <prop key="kaptcha.image.height">100</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <!-- /验证码组件 -->

    <!-- Ueditor相关 -->
    <context:component-scan base-package="ueditor"></context:component-scan>


    <!-- freemarker的配置 -->
    <bean id="freemarkerConfigurer"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">10</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
            </props>
        </property>
    </bean>
    <bean id="freemarkerPlugin" class="com.fengjx.ttwx.common.plugin.freemarker.FreemarkerPlugin">
        <property name="configurer" ref="freemarkerConfigurer"/>
    </bean>


</beans>