body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
}

h2 {
    font-size: 16px;
	font-weight: 400;
	font-style: normal;
}
h3 {
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color:#7b7b7b;
}
p {
	color:#7b7b7b;
}

table form {
	
}

table form th {
	text-align: right;
}

table form td input {
	width: 150px;
}

.clear {
	clear: both;
}

.maroon {
	color: #D20000;
	padding-left: 2px;
	font-family: "宋体";
}
