<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.2.xsd"> 
	
	
	<!-- 定义调用存储过程的Bean -->
	<bean id="createBill" class="org.tarena.netctoss.util.CreateBillJob">
		<property name="sessionFactory" ref="sessionFactory">
		</property>
	</bean>
	<!-- 将createBill定义成任务 -->
	<bean id="createBillTask" 
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="createBill">
		</property>
		<property name="targetMethod" value="create">
		</property>
	</bean>
	<!-- 将任务指定触发时间和频率 -->
	<bean id="createBillTrigger" 
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="createBillTask" />
		</property>
		<property name="cronExpression">
			<!-- 每月1日凌晨0点启动 -->
			<value>0 0 0 1 * ?</value>
		</property>
	</bean>
	<!-- 将任务触发器交给调度器运行 -->
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="createBillTrigger" />
			</list>
		</property>
	</bean>
	
	
	
	
	
	
	
	<!-- 这里定义了一个timeTask，定时刷新微信全局access_token start-->
	<bean id="accessTokenTimeTask" class="com.wechat.base.api.thread.AccessTokenThread">
	</bean>
	<!-- 定义了定时器的任务周期 -->
	<bean id="accessTokenScheduledBean" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<ref bean="accessTokenTimeTask" />
		</property>
		<!-- 后续延迟 -->
		<property name="period">
			<value>5000000</value>
		</property>
		<!-- 设置启动延迟 --> 
		<property name="delay">
			<value>1000</value>
		</property>
	</bean>
	<!-- 启动定时任务 -->
	<!-- <bean id="accessTokenTimerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="accessTokenScheduledBean" /> 
			</list>
		</property>
	</bean> -->
	<!-- access_token end -->
	
	
	
	
	<!-- 这里定义了一个timeTask，定时清除临时表数据  clearTmpTimeTask start-->
	<bean id="clearTmpTimeTask" class="com.wechat.busi.thread.ClearTmpThread">
	</bean>
	<!-- 定义了定时器的任务周期 -->
	<bean id="clearTmpScheduledBean" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<ref bean="clearTmpTimeTask" />
		</property>
		<!-- 后续延迟 -->
		<property name="period">
			<value>120000</value>
		</property>
		<!-- 设置启动延迟 --> 
		<property name="delay">
			<value>2000</value>
		</property>
	</bean>
	<!-- 启动定时任务 -->
	<bean id="clearTmpTimerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="clearTmpScheduledBean" /> 
			</list>
		</property>
	</bean>
	<!-- clearTmpTimeTask end -->
	  
</beans> 

