.breadcrumb {
	background: none;
	padding: 0;
	margin: 60px 0 0px 0;
}

.page-404 .number {
	display: inline-block;
	letter-spacing: -10px;
	margin-top: 0px;
	line-height: 128px;
	font-size: 158px;
	font-weight: 300;
	color: #7bbbd6;
	text-align: right;
}

.page-500 .number {
	display: inline-block;
	letter-spacing: -10px;
	line-height: 128px;
	font-size: 158px;
	font-weight: 300;
	color: #ec8c8c;
	text-align: right;
}

