<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengjx.wechat.base.dao.DataDictMapper">
    <resultMap id="BaseResultMap" type="com.fengjx.wechat.base.model.DataDict">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="dict_desc" property="dictDesc" jdbcType="VARCHAR"/>
        <result column="dict_name" property="dictName" jdbcType="VARCHAR"/>
        <result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
        <result column="group_code" property="groupCode" jdbcType="VARCHAR"/>
        <result column="in_time" property="inTime" jdbcType="VARCHAR"/>
        <result column="is_valid" property="isValid" jdbcType="VARCHAR"/>
        <result column="order_num" property="orderNum" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, dict_desc, dict_name, dict_value, group_code, in_time, is_valid, order_num, parent_id, 
    group_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from wechat_data_dict
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wechat_data_dict
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.fengjx.wechat.base.model.DataDict">
    insert into wechat_data_dict (id, dict_desc, dict_name, 
      dict_value, group_code, in_time, 
      is_valid, order_num, parent_id, 
      group_name)
    values (#{id,jdbcType=VARCHAR}, #{dictDesc,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, #{inTime,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.fengjx.wechat.base.model.DataDict">
        insert into wechat_data_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dictDesc != null">
                dict_desc,
            </if>
            <if test="dictName != null">
                dict_name,
            </if>
            <if test="dictValue != null">
                dict_value,
            </if>
            <if test="groupCode != null">
                group_code,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="dictDesc != null">
                #{dictDesc,jdbcType=VARCHAR},
            </if>
            <if test="dictName != null">
                #{dictName,jdbcType=VARCHAR},
            </if>
            <if test="dictValue != null">
                #{dictValue,jdbcType=VARCHAR},
            </if>
            <if test="groupCode != null">
                #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                #{inTime,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fengjx.wechat.base.model.DataDict">
        update wechat_data_dict
        <set>
            <if test="dictDesc != null">
                dict_desc = #{dictDesc,jdbcType=VARCHAR},
            </if>
            <if test="dictName != null">
                dict_name = #{dictName,jdbcType=VARCHAR},
            </if>
            <if test="dictValue != null">
                dict_value = #{dictValue,jdbcType=VARCHAR},
            </if>
            <if test="groupCode != null">
                group_code = #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                in_time = #{inTime,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fengjx.wechat.base.model.DataDict">
    update wechat_data_dict
    set dict_desc = #{dictDesc,jdbcType=VARCHAR},
      dict_name = #{dictName,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      group_code = #{groupCode,jdbcType=VARCHAR},
      in_time = #{inTime,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>