<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengjx.wechat.base.dao.MaterialMapper">
    <resultMap id="BaseResultMap" type="com.fengjx.wechat.base.model.Material">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="in_time" property="inTime" jdbcType="TIMESTAMP"/>
        <result column="msg_type" property="msgType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.fengjx.wechat.base.model.Material" extends="BaseResultMap">
        <result column="xml_data" property="xmlData" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, in_time, msg_type, user_id
  </sql>
    <sql id="Blob_Column_List">
    xml_data
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from wechat_material
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectList" resultMap="ResultMapWithBLOBs" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from wechat_material
        <where>
            user_id = #{userId}
            <if test="@org.apache.commons.lang.StringUtils@isNotBlank(msgType)">
                and msg_type = #{msgType}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wechat_material
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.fengjx.wechat.base.model.Material">
    insert into wechat_material (id, in_time, msg_type, 
      user_id, xml_data)
    values (#{id,jdbcType=VARCHAR}, #{inTime,jdbcType=TIMESTAMP}, #{msgType,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{xmlData,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.fengjx.wechat.base.model.Material">
        insert into wechat_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="xmlData != null">
                xml_data,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="xmlData != null">
                #{xmlData,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fengjx.wechat.base.model.Material">
        update wechat_material
        <set>
            <if test="inTime != null">
                in_time = #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="xmlData != null">
                xml_data = #{xmlData,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fengjx.wechat.base.model.Material">
    update wechat_material
    set in_time = #{inTime,jdbcType=TIMESTAMP},
      msg_type = #{msgType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      xml_data = #{xmlData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.fengjx.wechat.base.model.Material">
    update wechat_material
    set in_time = #{inTime,jdbcType=TIMESTAMP},
      msg_type = #{msgType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>