<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengjx.wechat.base.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.fengjx.wechat.base.model.SysUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="in_time" property="inTime" jdbcType="TIMESTAMP"/>
        <result column="is_valid" property="isValid" jdbcType="VARCHAR"/>
        <result column="phone_no" property="phoneNo" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="valid_uid" property="validUid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, email, in_time, is_valid, phone_no, pwd, score, username, valid_uid
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from wechat_sys_user
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from wechat_sys_user
        where
        1 = 1
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(username)">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(validUid)">
            and valid_uid = #{validUid,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wechat_sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.fengjx.wechat.base.model.SysUser">
    insert into wechat_sys_user (id, email, in_time, 
      is_valid, phone_no, pwd, 
      score, username, valid_uid
      )
    values (#{id,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{inTime,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{validUid,jdbcType=VARCHAR}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.fengjx.wechat.base.model.SysUser">
        insert into wechat_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="inTime != null">
                in_time,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="phoneNo != null">
                phone_no,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="validUid != null">
                valid_uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=VARCHAR},
            </if>
            <if test="phoneNo != null">
                #{phoneNo,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="validUid != null">
                #{validUid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fengjx.wechat.base.model.SysUser">
        update wechat_sys_user
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="inTime != null">
                in_time = #{inTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=VARCHAR},
            </if>
            <if test="phoneNo != null">
                phone_no = #{phoneNo,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="validUid != null">
                valid_uid = #{validUid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.fengjx.wechat.base.model.SysUser">
        update wechat_sys_user
        set email = #{email,jdbcType=VARCHAR},
          in_time = #{inTime,jdbcType=TIMESTAMP},
          is_valid = #{isValid,jdbcType=VARCHAR},
          phone_no = #{phoneNo,jdbcType=VARCHAR},
          pwd = #{pwd,jdbcType=VARCHAR},
          score = #{score,jdbcType=INTEGER},
          username = #{username,jdbcType=VARCHAR},
          valid_uid = #{validUid,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
      </update>

    <select id="getCount" resultType="int" parameterType="com.fengjx.wechat.base.model.SysUser">
        select count(*) from wechat_sys_user
        where
        1 = 1
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(username)">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="@org.apache.commons.lang.StringUtils@isNotBlank(email)">
            and email = #{email,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>